<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>人物详情</title>
    <link href="__STATIC__/mobile/fonts/iconfont.css" rel="stylesheet"/>
    <link href="__STATIC__/mobile/css/bass.css" rel="stylesheet"/>
    <link href="__STATIC__/mobile/css/index.css" rel="stylesheet"/>
</head>
<body>
<div>
    <header>
        <div class="header">
            <h1>专家详情</h1>
            <a href="{:url('mobile/expert/moreexpert')}" class="return"><i class="icon-16"></i></a>
        </div>
    </header>
    <div style="height: 2.5rem;"></div>
</div>
{include file="public/nav" /}
<!--人物详情-->
<div class="mien-d">
    <div class="userPu-i">
        <div class="user-i-i">
            <img src="__STATIC__/mobile/images/user-img0.jpg">
        </div>
        <div class="mien-n">
            <h1>郭小帅</h1>
            <p>机电高材生</p>
            <p>专注UI设计跟前端</p>
        </div>
    </div>
    <a href="tel:#" class="compile-btn myaTel-btn mien-tel">
        <i class="icon-3"></i>
    </a>
    <div class="mien-s">
        <i class="icon-kunzy"></i>
        <span>个人简介</span>
    </div>
    <div class="mien-con">
        <p>个人简介就不限丑了哈</p>
    </div>
</div>
<!--人物详情end-->
</body>
</html>



















