<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>更多专家</title>
    <link href="__STATIC__/mobile/fonts/iconfont.css" rel="stylesheet"/>
    <link href="__STATIC__/mobile/css/bass.css" rel="stylesheet"/>
    <link href="__STATIC__/mobile/css/index.css" rel="stylesheet"/>
</head>
<body>
<div>
    <header>
        <div class="header">
            <h1>专家</h1>
            <a href="{:url('mobile/expert/index')}" class="return"><i class="icon-16"></i></a>
        </div>
    </header>
    <div style="height: 2.5rem;"></div>
</div>
{include file="public/nav" /}
<!--更多专家列表-->
<div class="contact-search">
    <i class="icon-uniE90F"></i>
    <input type="search" placeholder="搜索专家">
</div>
<div class="m-Mien expert-list">
    <ul>
        <li>
            <a href="{:url('mobile/expert/expert_detail')}" class="cl">
                <img src="__STATIC__/mobile/images/user-img0.jpg">
                <div class="mienIntro">
                    <h1>郭小帅</h1>
                    <p>机电高材生</p>
                    <p>专注UI设计跟前端</p>
                </div>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="cl">
                <img src="__STATIC__/mobile/images/user-img2.png">
                <div class="mienIntro">
                    <h1>王二狗</h1>
                    <p>北大青鸟出身</p>
                    <p>Java后台开发，4年经验</p>
                </div>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="cl">
                <img src="__STATIC__/mobile/images/user-img4.png">
                <div class="mienIntro">
                    <h1>刘美子</h1>
                    <p>广工软件开发专业</p>
                    <p>专业测试，一起来找茬</p>
                </div>
            </a>
        </li>
    </ul>
</div>
<!--更多专家列表end-->
</body>
</html>
