<!DOCTYPE html>
<html>
<head>
    {include file="public:head"/}
    <link href="__STATIC__/admin/css/plugins/treeview/bootstrap-treeview.css" rel="stylesheet">
    <script src="__STATIC__/admin/js/plugins/treeview/bootstrap-treeview.js"></script>
    <script src="__STATIC__/admin/js/demo/treeview-demo.js"></script>
</head>
<style>
    table tr td {
        border-bottom: 1px solid #ecf0f1;
        border-right: 1px solid #ecf0f1;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRightBig">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                    <form class="form-horizontal" action="{:url('User/doUserEdit')}" id="fo" method="post">
                        <div class="form-group">
                            <label>用户id</label> <input type="text" class="form-control" id="user_id" name="user_id"
                                                       value="{$info.userid}" readonly>
                            <input type="hidden" value="{$info.userid}" name="userid"/>
                        </div>
                        <div class="form-group">
                            <label>用户名</label> <input type="text" class="form-control" id="nickname" name="username"
                                                       value="{$info.username}">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary" type="button" id="serchf" >保存
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="public:footer"/>
</body>


<script type="text/javascript">
    $("#serchf").click(function(){
        layer.confirm('确认要保存吗？', {
            btn: ['确定', '取消']//按钮
        }, function (index) {
            layer.close(index);
            var nickname = $("#nickname").val();
            if (!nickname) {
                layer.alert('昵称不能为空');
                return false;
            }else{
                $("#fo").submit();
            }
        });
    });
</script>
</html>