<!DOCTYPE html >
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>小枯草-{$action}</title>
<link rel="stylesheet" href="__STATIC__/new/css/base.css">
<link rel="stylesheet" href="__STATIC__/new/css/style.css">
</head>

<body>
{include file="public/header" /}

<div class="content">
    <div class="wrap">
          <div class="art-height"></div>
          <div class="art-box">
                <div class="art-b">
                    <a href=""><div class="art-b1 mr-30 fl"><img src="__STATIC__/new/upload/art-b1.jpg">
                                     <div class="art-inside">今日焦点：文章名称例学霸情侣养成记</div>
                               </div></a>
                     <a href=""><div class="art-b1 fl"><img src="__STATIC__/new/upload/art-b2.jpg">
                                     <div class="art-inside">初次见面怎么牵手约会</div>
                               </div></a>          
                
                </div>
                <div class="art-c">
                        <div class="art-fl fl">
                               <div class="ru-title art-title">
                                       <div class="cou-b1"><img src="__STATIC__/new/images/cou-b1.jpg">焦点文章</div>
                                       <div class="ru-a1">
                                             <div class="sort">排序</div>
                                       </div>
                                       <div class="ru-a2">
                                             <div class="dropdown">
                                                    <span>情感</span>
                                                     <ul data-value="" class="droplist">
                                                                <li data-id="1">全部</li>
                                                                <li data-id="2">服饰</li>
                                                                <li data-id="3">最新</li>
                                                                <li data-id="4">提问</li>
                                                                <li data-id="5">约会技巧</li>
                                                                <li data-id="6">热门文章</li>
                                                     </ul>
                                             </div>
                                       </div>
                               </div>
                               <div class="tjk">
                                    <ul class="art-ul">
                                         <a href=""><li><div class="art-list">
                                                          <div class="art-d fl"><img src="__STATIC__/new/upload/col-a.jpg"></div>
                                                          <div class="art-e fl">
                                                                <div class="col-b1">教你如何一步步把妹子泡到手</div>
                                                                <div class="col-b2">焦点学苑<span>2015-11-02</span></div>
                                                                <div class="col-b3">爱情的残酷之处在于，并不是你做了什么帮助你获得了女孩的欢心。</div>
                                                          </div>
                                                          <div class="art-f">
                                                                <span><img src="__STATIC__/new/images/col-c1.jpg">0</span>
                                                                <span><img src="__STATIC__/new/images/col-c2.jpg">3</span>
                                                                <em><img src="__STATIC__/new/images/col-c3.jpg"></em>
                                                                <em><img src="__STATIC__/new/images/col-c4.jpg"></em>
                                                                <em><img src="__STATIC__/new/images/col-c5.jpg"></em>
                                                          </div>
                                                 </div>
                                                 <div class="art-g"></div>         
                                          </li></a>
                                         <a href=""><li><div class="art-list">
                                                          <div class="art-d fl"><img src="__STATIC__/new/upload/col-a.jpg"></div>
                                                          <div class="art-e fl">
                                                                <div class="col-b1">教你如何一步步把妹子泡到手</div>
                                                                <div class="col-b2">焦点学苑<span>2015-11-02</span></div>
                                                                <div class="col-b3">爱情的残酷之处在于，并不是你做了什么帮助你获得了女孩的欢心。</div>
                                                          </div>
                                                          <div class="art-f">
                                                                <span><img src="__STATIC__/new/images/col-c1.jpg">0</span>
                                                                <span><img src="__STATIC__/new/images/col-c2.jpg">3</span>
                                                                <em><img src="__STATIC__/new/images/col-c3.jpg"></em>
                                                                <em><img src="__STATIC__/new/images/col-c4.jpg"></em>
                                                                <em><img src="__STATIC__/new/images/col-c5.jpg"></em>
                                                          </div>
                                                 </div>
                                                 <div class="art-g"></div>         
                                          </li></a>
                                         <a href=""><li><div class="art-list">
                                                          <div class="art-d fl"><img src="__STATIC__/new/upload/col-a.jpg"></div>
                                                          <div class="art-e fl">
                                                                <div class="col-b1">教你如何一步步把妹子泡到手</div>
                                                                <div class="col-b2">焦点学苑<span>2015-11-02</span></div>
                                                                <div class="col-b3">爱情的残酷之处在于，并不是你做了什么帮助你获得了女孩的欢心。</div>
                                                          </div>
                                                          <div class="art-f">
                                                                <span><img src="__STATIC__/new/images/col-c1.jpg">0</span>
                                                                <span><img src="__STATIC__/new/images/col-c2.jpg">3</span>
                                                                <em><img src="__STATIC__/new/images/col-c3.jpg"></em>
                                                                <em><img src="__STATIC__/new/images/col-c4.jpg"></em>
                                                                <em><img src="__STATIC__/new/images/col-c5.jpg"></em>
                                                          </div>
                                                 </div>
                                                 <div class="art-g"></div>         
                                          </li></a>
                                         <a href=""><li><div class="art-list">
                                                          <div class="art-d fl"><img src="__STATIC__/new/upload/col-a.jpg"></div>
                                                          <div class="art-e fl">
                                                                <div class="col-b1">教你如何一步步把妹子泡到手</div>
                                                                <div class="col-b2">焦点学苑<span>2015-11-02</span></div>
                                                                <div class="col-b3">爱情的残酷之处在于，并不是你做了什么帮助你获得了女孩的欢心。</div>
                                                          </div>
                                                          <div class="art-f">
                                                                <span><img src="__STATIC__/new/images/col-c1.jpg">0</span>
                                                                <span><img src="__STATIC__/new/images/col-c2.jpg">3</span>
                                                                <em><img src="__STATIC__/new/images/col-c3.jpg"></em>
                                                                <em><img src="__STATIC__/new/images/col-c4.jpg"></em>
                                                                <em><img src="__STATIC__/new/images/col-c5.jpg"></em>
                                                          </div>
                                                 </div>
                                                 <div class="art-g"></div>         
                                          </li></a> 
                                         <a href=""><li><div class="art-list">
                                                          <div class="art-d fl"><img src="__STATIC__/new/upload/col-a.jpg"></div>
                                                          <div class="art-e fl">
                                                                <div class="col-b1">教你如何一步步把妹子泡到手</div>
                                                                <div class="col-b2">焦点学苑<span>2015-11-02</span></div>
                                                                <div class="col-b3">爱情的残酷之处在于，并不是你做了什么帮助你获得了女孩的欢心。</div>
                                                          </div>
                                                          <div class="art-f">
                                                                <span><img src="__STATIC__/new/images/col-c1.jpg">0</span>
                                                                <span><img src="__STATIC__/new/images/col-c2.jpg">3</span>
                                                                <em><img src="__STATIC__/new/images/col-c3.jpg"></em>
                                                                <em><img src="__STATIC__/new/images/col-c4.jpg"></em>
                                                                <em><img src="__STATIC__/new/images/col-c5.jpg"></em>
                                                          </div>
                                                 </div>
                                                 <div class="art-g"></div>         
                                          </li></a>
                                         <a href=""><li><div class="art-list">
                                                          <div class="art-d fl"><img src="__STATIC__/new/upload/col-a.jpg"></div>
                                                          <div class="art-e fl">
                                                                <div class="col-b1">教你如何一步步把妹子泡到手</div>
                                                                <div class="col-b2">焦点学苑<span>2015-11-02</span></div>
                                                                <div class="col-b3">爱情的残酷之处在于，并不是你做了什么帮助你获得了女孩的欢心。</div>
                                                          </div>
                                                          <div class="art-f">
                                                                <span><img src="__STATIC__/new/images/col-c1.jpg">0</span>
                                                                <span><img src="__STATIC__/new/images/col-c2.jpg">3</span>
                                                                <em><img src="__STATIC__/new/images/col-c3.jpg"></em>
                                                                <em><img src="__STATIC__/new/images/col-c4.jpg"></em>
                                                                <em><img src="__STATIC__/new/images/col-c5.jpg"></em>
                                                          </div>
                                                 </div>
                                                 <div class="art-g"></div>         
                                          </li></a>
                                         <a href=""><li><div class="art-list">
                                                          <div class="art-d fl"><img src="__STATIC__/new/upload/col-a.jpg"></div>
                                                          <div class="art-e fl">
                                                                <div class="col-b1">教你如何一步步把妹子泡到手</div>
                                                                <div class="col-b2">焦点学苑<span>2015-11-02</span></div>
                                                                <div class="col-b3">爱情的残酷之处在于，并不是你做了什么帮助你获得了女孩的欢心。</div>
                                                          </div>
                                                          <div class="art-f">
                                                                <span><img src="__STATIC__/new/images/col-c1.jpg">0</span>
                                                                <span><img src="__STATIC__/new/images/col-c2.jpg">3</span>
                                                                <em><img src="__STATIC__/new/images/col-c3.jpg"></em>
                                                                <em><img src="__STATIC__/new/images/col-c4.jpg"></em>
                                                                <em><img src="__STATIC__/new/images/col-c5.jpg"></em>
                                                          </div>
                                                 </div>
                                                 <div class="art-g"></div>         
                                          </li></a> 
                                         <a href=""><li><div class="art-list">
                                                          <div class="art-d fl"><img src="__STATIC__/new/upload/col-a.jpg"></div>
                                                          <div class="art-e fl">
                                                                <div class="col-b1">教你如何一步步把妹子泡到手</div>
                                                                <div class="col-b2">焦点学苑<span>2015-11-02</span></div>
                                                                <div class="col-b3">爱情的残酷之处在于，并不是你做了什么帮助你获得了女孩的欢心。</div>
                                                          </div>
                                                          <div class="art-f">
                                                                <span><img src="__STATIC__/new/images/col-c1.jpg">0</span>
                                                                <span><img src="__STATIC__/new/images/col-c2.jpg">3</span>
                                                                <em><img src="__STATIC__/new/images/col-c3.jpg"></em>
                                                                <em><img src="__STATIC__/new/images/col-c4.jpg"></em>
                                                                <em><img src="__STATIC__/new/images/col-c5.jpg"></em>
                                                          </div>
                                                 </div>
                                                 <div class="art-g"></div>         
                                          </li></a>
                                         <a href=""><li><div class="art-list">
                                                          <div class="art-d fl"><img src="__STATIC__/new/upload/col-a.jpg"></div>
                                                          <div class="art-e fl">
                                                                <div class="col-b1">教你如何一步步把妹子泡到手</div>
                                                                <div class="col-b2">焦点学苑<span>2015-11-02</span></div>
                                                                <div class="col-b3">爱情的残酷之处在于，并不是你做了什么帮助你获得了女孩的欢心。</div>
                                                          </div>
                                                          <div class="art-f">
                                                                <span><img src="__STATIC__/new/images/col-c1.jpg">0</span>
                                                                <span><img src="__STATIC__/new/images/col-c2.jpg">3</span>
                                                                <em><img src="__STATIC__/new/images/col-c3.jpg"></em>
                                                                <em><img src="__STATIC__/new/images/col-c4.jpg"></em>
                                                                <em><img src="__STATIC__/new/images/col-c5.jpg"></em>
                                                          </div>
                                                 </div>
                                                 <div class="art-g"></div>         
                                          </li></a>  
                                    </ul>
                               </div>
                               <div class="more"><a href="">查看更多>></a></div>
                        
                        </div>
                        
                        <div class="art-fr fr">
                               <div class="post-y art-gg">
                                     <div class="post-y1"><img src="__STATIC__/new/images/cou-b1.jpg">最新文章</div>
                                     <ul>
                                      <a href=""><li>
                                           <div class="post-y2"><img src="__STATIC__/new/upload/post-a4.png"></div>
                                           <div class="post-y3">追妹子，你准备好了吗？</div>
                                      
                                      </li></a>
                                      
                                      <a href=""><li>
                                           <div class="post-y2"><img src="__STATIC__/new/upload/post-a4.png"></div>
                                           <div class="post-y3">追妹子，你准备好了吗？</div>
                                      
                                      </li></a>
                                      
                                      <a href=""><li>
                                           <div class="post-y2"><img src="__STATIC__/new/upload/post-a4.png"></div>
                                           <div class="post-y3">追妹子，你准备好了吗？</div>
                                      
                                      </li></a>
                                      
                                      <a href=""><li>
                                           <div class="post-y2"><img src="__STATIC__/new/upload/post-a4.png"></div>
                                           <div class="post-y3">追妹子，你准备好了吗？</div>
                                      
                                      </li></a>
           
                                 </ul>
                               </div>
                               <div class="fish"><a href=""><img src="__STATIC__/new/upload/ru-c1.png"></a></div>
                        </div>
                </div><!--art-c-->
          
          </div>
    </div>      
</div>

{include file="public/footer" /}


<script src="__STATIC__/new/js/jquery-1.11.1.min.js"></script>
<script src="__STATIC__/new/js/Action.js"></script>
<script>
   $(".sort").click(function(){
	   $(this).toggleClass("sort-cut")  
	})
</script>
<script>
   $(".dropdown").bind({
	    click: function () {
	        $(this).find(".droplist").stop().slideDown();
	    },
	    mouseleave: function () {
	        $(this).find(".droplist").hide();
	    }
	});
	$(".dropdown .droplist li").click(function () {
	    $(this).parents(".dropdown").children("span").text($(this).text());
	    $(this).parents(".droplist").hide().attr("data-value", $(this).attr("data-id"));
	});
</script>

</body>
</html>

