<!DOCTYPE html >
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>小枯草-{$action}</title>
<link rel="stylesheet" href="__STATIC__/new/css/base.css">
<link rel="stylesheet" href="__STATIC__/new/css/style.css">
</head>

<body>
{include file="public/header" /}

<div class="content">
    <div class="wrap">
           <div class="tsm-height"></div>
           <div class="course-banner"><img src="__STATIC__/new/upload/course-banner.jpg"></div>
           <div class="cou-a">
                <ul>
                      <li><div class="cou-a1"><img src="__STATIC__/new/upload/course-a2.jpg">
                                              <div class="cou-inside"><div class="cou-href"><a href="">查看</a></div></div>
                           </div>                   
                          <div class="act-a2">活动主题</div>
                      </li>
                      
                      <li><div class="cou-a1"><img src="__STATIC__/new/upload/course-a1.jpg">
                                              <div class="cou-inside"><div class="cou-href"><a href="">查看</a></div></div>
                           </div>                   
                          <div class="act-a2">活动主题</div>
                      </li>
                      
                      <li><div class="cou-a1"><img src="__STATIC__/new/upload/course-a2.jpg">
                                              <div class="cou-inside"><div class="cou-href"><a href="">查看</a></div></div>
                           </div>                   
                          <div class="act-a2">活动主题</div>
                      </li>
                </ul>         
           </div>
           
           <div class="cou-b">
                <div class="cou-b-title">
                     <div class="cou-b1"><img src="__STATIC__/new/images/cou-b1.jpg">课程</div>
                     <div class="cou-b2">
                         <div class="sort">排序</div>
                     </div>
                     <div class="cou-b3">
                         <div class="dropdown">
                                 <span>所有课程</span>
                                 <ul data-value="" class="droplist">
                                            <li data-id="1">网络课程</li>
                                            <li data-id="2">线下课程</li>
                                            <li data-id="3">情感诊断</li>
                                            <li data-id="4">挽回爱情</li>
                                            <li data-id="5">长期关系</li>
                                            <li data-id="6">狙击真命</li>
                                            <li data-id="7">形象改造</li>
                                            <li data-id="8">如何聊天</li>
                                            <li data-id="9">官方课程</li>
                                 </ul>
                         </div>
                     </div>
                </div>
           </div>
           
           <div class="cou-c">
               <ul>
                   <li>
                       <div class="kil-fl fl"><img src="__STATIC__/new/upload/cou-c.jpg"></div>
                       <div class="kil-fr fl">
                            <div class="kil-r1">教你如何一步步把妹子泡到手</div>
                            <div class="kil-r2">网络课程<span>情感诊断</span><span>官方课程</span></div>
                            <div class="kil-r3">¥ 199.00~1899.00</div>
                            <div class="kil-r4"><img src="__STATIC__/new/upload/cou-d.jpg">1380 人在学</div>
                       
                       </div>
                   </li>
                   
                   <li>
                       <div class="kil-fl fl"><img src="__STATIC__/new/upload/cou-c.jpg"></div>
                       <div class="kil-fr fl">
                            <div class="kil-r1">教你如何一步步把妹子泡到手</div>
                            <div class="kil-r2">网络课程<span>情感诊断</span><span>官方课程</span></div>
                            <div class="kil-r3">¥ 199.00~1899.00</div>
                            <div class="kil-r4"><img src="__STATIC__/new/upload/cou-d.jpg">1380 人在学</div>
                       
                       </div>
                   </li>
                   
                   <li>
                       <div class="kil-fl fl"><img src="__STATIC__/new/upload/cou-c.jpg"></div>
                       <div class="kil-fr fl">
                            <div class="kil-r1">教你如何一步步把妹子泡到手</div>
                            <div class="kil-r2">网络课程<span>情感诊断</span><span>官方课程</span></div>
                            <div class="kil-r3">¥ 199.00~1899.00</div>
                            <div class="kil-r4"><img src="__STATIC__/new/upload/cou-d.jpg">1380 人在学</div>
                       
                       </div>
                   </li>
                   
                   <li>
                       <div class="kil-fl fl"><img src="__STATIC__/new/upload/cou-c.jpg"></div>
                       <div class="kil-fr fl">
                            <div class="kil-r1">教你如何一步步把妹子泡到手</div>
                            <div class="kil-r2">网络课程<span>情感诊断</span><span>官方课程</span></div>
                            <div class="kil-r3">¥ 199.00~1899.00</div>
                            <div class="kil-r4"><img src="__STATIC__/new/upload/cou-d.jpg">1380 人在学</div>
                       
                       </div>
                   </li>
                   
                   <li>
                       <div class="kil-fl fl"><img src="__STATIC__/new/upload/cou-c.jpg"></div>
                       <div class="kil-fr fl">
                            <div class="kil-r1">教你如何一步步把妹子泡到手</div>
                            <div class="kil-r2">网络课程<span>情感诊断</span><span>官方课程</span></div>
                            <div class="kil-r3">¥ 199.00~1899.00</div>
                            <div class="kil-r4"><img src="__STATIC__/new/upload/cou-d.jpg">1380 人在学</div>
                       
                       </div>
                   </li>
                
               </ul>
           </div>
           
          
           
            <div class="page m-48">
                         <a href="" class="page-cut">1</a>
                         <a href="">2</a>
                         <a href="">》</a>
            </div>
            
            <div class="act-e"><a href=""><img src="__STATIC__/new/upload/act-f.jpg"></a></div>
    </div> 
</div>

{include file="public/footer" /}


<script src="__STATIC__/new/js/jquery-1.11.1.min.js"></script>
<script src="__STATIC__/new/js/Action.js"></script>
<script>
$(".cou-a1").hover(function(){
		$(this).find(".cou-inside").stop(true,true).animate({top:0},500);
		},function(){
	        $(this).find(".cou-inside").stop(true,true).animate({top:201},500);
		});	
</script>
<script>
   $(".sort").click(function(){
	   $(this).toggleClass("sort-cut")  
	})
</script>
<script>
  $(".page a").click(function(){
	  $(this).addClass("page-cut").siblings().removeClass("page-cut")  
	  
	})
</script>

<script>
   $(".dropdown").bind({
	    click: function () {
	        $(this).find(".droplist").stop().slideDown();
	    },
	    mouseleave: function () {
	        $(this).find(".droplist").hide();
	    }
	});
	$(".dropdown .droplist li").click(function () {
	    $(this).parents(".dropdown").children("span").text($(this).text());
	    $(this).parents(".droplist").hide().attr("data-value", $(this).attr("data-id"));
	});
</script>
</body>
</html>
