<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>小枯草-{$action}</title>
<link rel="stylesheet" href="__STATIC__/new/css/base.css">
<link rel="stylesheet" href="__STATIC__/new/css/style.css">
</head>

<body>
{include file="public/header" /}

<div class="content">
    <div class="col-height"></div>
    <div class="focus-banner">
           <div class="wrap">
                
                <div class="focus-a1"><img src="__STATIC__/new/upload/focus-a2.png"></div>
                <div class="focus-a2">shuiguodaren</div>
                <div class="focus-a3">
                          <div class="py-a fl">文章 20</div>
                          <div class="pyl  fl">关注 500
                              <div class="tbq">
                                  <div class="tbq-a">我是大大大</div>
                                  <div class="tbq-a">我是大大大</div>
                                  <div class="tbq-a">我是大大大</div>
                                  <div class="tbq-a">我是大大大</div>
                              </div>
                          </div>
                          <div class="py-a fl">粉丝 500</div>
                          <div class="py-b fl">收藏 80</div>
                </div>
                <div class="focus-a4"><a href="">+关注</a><span>|</span><a href="">私信</a></div>
           </div>    
    </div>
    
    <div class="focus-b-box">
                   <div class="focus-list"><div class="focus-title">shuiguodaren  的关注</div></div>
                   <div class="focus-b">
                         <ul class="focus-ul">
                             <li>
                                  <div class="focu-b1"><img src="__STATIC__/new/upload/focus-b.jpg"></div>
                                  <div class="focu-b2">shuiguodaren</div>
                                  <div class="focu-b3">文章 20<span>丨</span>粉丝 300</div>
                                  <div class="focu-b4"><a href="">+关注</a><span>|</span><a href="">私信</a></div>  
                             </li>
                             
                             <li>
                                  <div class="focu-b1"><img src="__STATIC__/new/upload/focus-b.jpg"></div>
                                  <div class="focu-b2">shuiguodaren</div>
                                  <div class="focu-b3">文章 20<span>丨</span>粉丝 300</div>
                                  <div class="focu-b4"><a href="">+关注</a><span>|</span><a href="">私信</a></div>  
                             </li>
                             
                             <li>
                                  <div class="focu-b1"><img src="__STATIC__/new/upload/focus-b.jpg"></div>
                                  <div class="focu-b2">shuiguodaren</div>
                                  <div class="focu-b3">文章 20<span>丨</span>粉丝 300</div>
                                  <div class="focu-b4"><a href="">+关注</a><span>|</span><a href="">私信</a></div>  
                             </li>
                             
                             <li>
                                  <div class="focu-b1"><img src="__STATIC__/new/upload/focus-b.jpg"></div>
                                  <div class="focu-b2">shuiguodaren</div>
                                  <div class="focu-b3">文章 20<span>丨</span>粉丝 300</div>
                                  <div class="focu-b4"><a href="">+关注</a><span>|</span><a href="">私信</a></div>  
                             </li>
                             
                             <li>
                                  <div class="focu-b1"><img src="__STATIC__/new/upload/focus-b.jpg"></div>
                                  <div class="focu-b2">shuiguodaren</div>
                                  <div class="focu-b3">文章 20<span>丨</span>粉丝 300</div>
                                  <div class="focu-b4"><a href="">+关注</a><span>|</span><a href="">私信</a></div>  
                             </li>
                             
                             <li>
                                  <div class="focu-b1"><img src="__STATIC__/new/upload/focus-b.jpg"></div>
                                  <div class="focu-b2">shuiguodaren</div>
                                  <div class="focu-b3">文章 20<span>丨</span>粉丝 300</div>
                                  <div class="focu-b4"><a href="">+关注</a><span>|</span><a href="">私信</a></div>  
                             </li>
                             
                             <li>
                                  <div class="focu-b1"><img src="__STATIC__/new/upload/focus-b.jpg"></div>
                                  <div class="focu-b2">shuiguodaren</div>
                                  <div class="focu-b3">文章 20<span>丨</span>粉丝 300</div>
                                  <div class="focu-b4"><a href="">+关注</a><span>|</span><a href="">私信</a></div>  
                             </li>
                             
                             <li>
                                  <div class="focu-b1"><img src="__STATIC__/new/upload/focus-b.jpg"></div>
                                  <div class="focu-b2">shuiguodaren</div>
                                  <div class="focu-b3">文章 20<span>丨</span>粉丝 300</div>
                                  <div class="focu-b4"><a href="">+关注</a><span>|</span><a href="">私信</a></div>  
                             </li>
                            
                             <li>
                                  <div class="focu-b1"><img src="__STATIC__/new/upload/focus-b.jpg"></div>
                                  <div class="focu-b2">shuiguodaren</div>
                                  <div class="focu-b3">文章 20<span>丨</span>粉丝 300</div>
                                  <div class="focu-b4"><a href="">+关注</a><span>|</span><a href="">私信</a></div>  
                             </li>
                             
                             <li>
                                  <div class="focu-b1"><img src="__STATIC__/new/upload/focus-b.jpg"></div>
                                  <div class="focu-b2">shuiguodaren</div>
                                  <div class="focu-b3">文章 20<span>丨</span>粉丝 300</div>
                                  <div class="focu-b4"><a href="">+关注</a><span>|</span><a href="">私信</a></div>  
                             </li>
                             
                             <li>
                                  <div class="focu-b1"><img src="__STATIC__/new/upload/focus-b.jpg"></div>
                                  <div class="focu-b2">shuiguodaren</div>
                                  <div class="focu-b3">文章 20<span>丨</span>粉丝 300</div>
                                  <div class="focu-b4"><a href="">+关注</a><span>|</span><a href="">私信</a></div>  
                             </li>
                             
                             <li>
                                  <div class="focu-b1"><img src="__STATIC__/new/upload/focus-b.jpg"></div>
                                  <div class="focu-b2">shuiguodaren</div>
                                  <div class="focu-b3">文章 20<span>丨</span>粉丝 300</div>
                                  <div class="focu-b4"><a href="">+关注</a><span>|</span><a href="">私信</a></div>  
                             </li>
                             
                             <li>
                                  <div class="focu-b1"><img src="__STATIC__/new/upload/focus-b.jpg"></div>
                                  <div class="focu-b2">shuiguodaren</div>
                                  <div class="focu-b3">文章 20<span>丨</span>粉丝 300</div>
                                  <div class="focu-b4"><a href="">+关注</a><span>|</span><a href="">私信</a></div>  
                             </li>
                             
                             <li>
                                  <div class="focu-b1"><img src="__STATIC__/new/upload/focus-b.jpg"></div>
                                  <div class="focu-b2">shuiguodaren</div>
                                  <div class="focu-b3">文章 20<span>丨</span>粉丝 300</div>
                                  <div class="focu-b4"><a href="">+关注</a><span>|</span><a href="">私信</a></div>  
                             </li>
                             
                             <li>
                                  <div class="focu-b1"><img src="__STATIC__/new/upload/focus-b.jpg"></div>
                                  <div class="focu-b2">shuiguodaren</div>
                                  <div class="focu-b3">文章 20<span>丨</span>粉丝 300</div>
                                  <div class="focu-b4"><a href="">+关注</a><span>|</span><a href="">私信</a></div>  
                             </li>
                             
                             <li>
                                  <div class="focu-b1"><img src="__STATIC__/new/upload/focus-b.jpg"></div>
                                  <div class="focu-b2">shuiguodaren</div>
                                  <div class="focu-b3">文章 20<span>丨</span>粉丝 300</div>
                                  <div class="focu-b4"><a href="">+关注</a><span>|</span><a href="">私信</a></div>  
                             </li>
                             <li>
                                  <div class="focu-b1"><img src="__STATIC__/new/upload/focus-b.jpg"></div>
                                  <div class="focu-b2">shuiguodaren</div>
                                  <div class="focu-b3">文章 20<span>丨</span>粉丝 300</div>
                                  <div class="focu-b4"><a href="">+关注</a><span>|</span><a href="">私信</a></div>  
                             </li>
                             
                             <li>
                                  <div class="focu-b1"><img src="__STATIC__/new/upload/focus-b.jpg"></div>
                                  <div class="focu-b2">shuiguodaren</div>
                                  <div class="focu-b3">文章 20<span>丨</span>粉丝 300</div>
                                  <div class="focu-b4"><a href="">+关注</a><span>|</span><a href="">私信</a></div>  
                             </li>
                             
                             <li>
                                  <div class="focu-b1"><img src="__STATIC__/new/upload/focus-b.jpg"></div>
                                  <div class="focu-b2">shuiguodaren</div>
                                  <div class="focu-b3">文章 20<span>丨</span>粉丝 300</div>
                                  <div class="focu-b4"><a href="">+关注</a><span>|</span><a href="">私信</a></div>  
                             </li>
                             
                             <li>
                                  <div class="focu-b1"><img src="__STATIC__/new/upload/focus-b.jpg"></div>
                                  <div class="focu-b2">shuiguodaren</div>
                                  <div class="focu-b3">文章 20<span>丨</span>粉丝 300</div>
                                  <div class="focu-b4"><a href="">+关注</a><span>|</span><a href="">私信</a></div>  
                             </li>   
                      </ul>
                     </div>
                     <div class="page">
                         <a href="" class="page-cut">1</a>
                         <a href="">2</a>
                         <a href="">》</a>
                     </div>
    </div>  
</div>

{include file="public/footer" /}

<script src="__STATIC__/new/js/jquery-1.11.1.min.js"></script>
<script src="__STATIC__/new/js/Action.js"></script>
<script>
  $(".page a").click(function(){
	  $(this).addClass("page-cut").siblings().removeClass("page-cut")  
	  
	})
</script>

<script>
         $(".pyl").click(function(){
					     $(this).find(".tbq").slideToggle()
					})
        </script>
</body>
</html>
