<!DOCTYPE html >
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>小枯草-{$action}</title>
    <link rel="stylesheet" href="__STATIC__/new/css/base.css">
    <link rel="stylesheet" href="__STATIC__/new/css/style.css">
</head>

<body>
{include file="public/header" /}


<div class="content">
    <div class="col-height"></div>
    <div class="focus-banner">
        <div class="wrap">
            <div class="focus-a1"><img src="__STATIC__/new/upload/focus-a2.png"></div>
            <div class="focus-a2">shuiguodaren</div>
            <div class="focus-a3">
                <div class="py-a fl">文章 20</div>
                <div class="pyl  fl">关注 500
                    <div class="tbq">
                        <div class="tbq-a">我是大大大</div>
                        <div class="tbq-a">我是大大大</div>
                        <div class="tbq-a">我是大大大</div>
                        <div class="tbq-a">我是大大大</div>
                    </div>
                </div>
                <div class="py-a fl">粉丝 500</div>
                <div class="py-b fl">收藏 80</div>
            </div>
            <div class="focus-a4"><a href="">+关注</a><span>|</span><a href="">私信</a></div>
        </div>
    </div>

    <div class="focus-b-box">
        <div class="focus-list"><div class="focus-title">shuiguodaren  的文章</div></div>
        <div class="coll-box">
            <ul class="col-ul">
                <li>
                    <div class="col-list">
                        <div class="col-a fl"><img src="__STATIC__/new/upload/col-a.jpg"></div>
                        <div class="col-b fl">
                            <div class="col-b1">教你如何一步步把妹子泡到手</div>
                            <div class="col-b2"><img src="__STATIC__/new/upload/col-b.jpg">shuiguodaren<span>2015-11-02</span></div>
                            <div class="col-b3">爱情的残酷之处在于，并不是你做了什么帮助你获得了女孩的欢心。</div>
                        </div>
                        <div class="col-c">
                            <span><img src="__STATIC__/new/images/col-c1.jpg">0</span>
                            <span><img src="__STATIC__/new/images/col-c2.jpg">3</span>
                            <em><img src="__STATIC__/new/images/col-c3.jpg"></em>
                            <em><img src="__STATIC__/new/images/col-c4.jpg"></em>
                            <em><img src="__STATIC__/new/images/col-c5.jpg"></em>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-list">
                        <div class="col-a fl"><img src="__STATIC__/new/upload/col-a.jpg"></div>
                        <div class="col-b fl">
                            <div class="col-b1">教你如何一步步把妹子泡到手</div>
                            <div class="col-b2"><img src="__STATIC__/new/upload/col-b.jpg">shuiguodaren<span>2015-11-02</span></div>
                            <div class="col-b3">爱情的残酷之处在于，并不是你做了什么帮助你获得了女孩的欢心。</div>
                        </div>
                        <div class="col-c">
                            <span><img src="__STATIC__/new/images/col-c1.jpg">0</span>
                            <span><img src="__STATIC__/new/images/col-c2.jpg">3</span>
                            <em><img src="__STATIC__/new/images/col-c3.jpg"></em>
                            <em><img src="__STATIC__/new/images/col-c4.jpg"></em>
                            <em><img src="__STATIC__/new/images/col-c5.jpg"></em>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-list">
                        <div class="col-a fl"><img src="__STATIC__/new/upload/col-a.jpg"></div>
                        <div class="col-b fl">
                            <div class="col-b1">教你如何一步步把妹子泡到手</div>
                            <div class="col-b2"><img src="__STATIC__/new/upload/col-b.jpg">shuiguodaren<span>2015-11-02</span></div>
                            <div class="col-b3">爱情的残酷之处在于，并不是你做了什么帮助你获得了女孩的欢心。</div>
                        </div>
                        <div class="col-c">
                            <span><img src="__STATIC__/new/images/col-c1.jpg">0</span>
                            <span><img src="__STATIC__/new/images/col-c2.jpg">3</span>
                            <em><img src="__STATIC__/new/images/col-c3.jpg"></em>
                            <em><img src="__STATIC__/new/images/col-c4.jpg"></em>
                            <em><img src="__STATIC__/new/images/col-c5.jpg"></em>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="more"><a href="">查看更多>></a></div>
    </div>
</div>

{include file="public/footer" /}

<script src="__STATIC__/new/js/jquery-1.11.1.min.js"></script>
<script src="__STATIC__/new/js/Action.js"></script>
<script>
    $(".pyl").click(function(){
        $(this).find(".tbq").slideToggle()
    })
</script>

</body>
</html>
