<!DOCTYPE html >
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>小枯草-{$action}</title>
    <link rel="stylesheet" href="__STATIC__/new/css/base.css">
    <link rel="stylesheet" href="__STATIC__/new/css/style.css">
</head>

<body>
{include file="public/header" /}

<div class="content">
    <div class="about-banner"><img src="__STATIC__/new/upload/about-banner.jpg"></div>
    <div class="about-box">
        <div class="about"><div class="about-h4">联系我们</div></div>
        <div class="about-btm">
            <div class="ab">
                <div class="about-a">联系方式</div>
                <div class="about-b">客服：QQ – 2723659854     171892716</div>
                <div class="about-b">微信：13983913423 </div>
                <div class="about-b"><img src="__STATIC__/uploads/lantai.png" width="200" height="200"> </div>
                <div class="about-b">微信公众号 </div>
                <div class="about-b"><img src="__STATIC__/uploads/gongzhonghao.jpg" width="200" height="200"> </div>
                <div class="about-b">客服联系/举报电话：13983913423 （周一至周日：12:00-20:30，节假日除外）</div>
                <div class="about-b">商务合作/媒体报道：QQ – 171892716（兰台）</div>
            </div>
            <div class="ab">
                <div class="about-a">网站介绍</div>
                <div class="about-b">
                        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;小枯草，这个网站是兰台整理制作的。主要用于收集各种最先进的网站技术，网站也用于技术交流。有需要的朋友可以联系。
                    网站目前处于开发测试阶段，所以很多功能还不完善。</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;另外，此网站是架设在开发服务器上面的，所以打开有点慢，尤其是看视频的时候。由此带来的不便，敬请见谅！</p>
                </div>
                <div class="about-a" style="margin-top: 50px">版权声明</div>
                <div class="about-b">
                    <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;此网站版权归兰台个人所有，侵权必究。</p>

                </div>

            </div>

        </div>
    </div>

</div>


{include file="public/footer" /}

<script src="__STATIC__/new/js/jquery-1.11.1.min.js"></script>
<script src="__STATIC__/new/js/Action.js"></script>
</body>
</html>
